.bar {
    fill: steelblue;
}

.bar:hover {
    fill: #5a1841;
}

/*
The axis component consists of a path element which displays the domain, and multiple g ".tick" elements,
one for each tick mark. A tick in turn contains a text label and a line mark.
*/
.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

